.content {
    width: 700px;
    margin: 0 auto;
  
    h3 {
      span {
        color: red;
      }
    }
  }
  .red{
    border: 3px solid rgb(255, 0, 0);
  }
  .content-top {
    display: flex;
  
    button {
      margin-left: 5px;
    }
  }
  
  .content-bottom {
    margin-top: 10px;
  }
  