
<div class="container mt-5">
    <div class="content">
      <div class="card" style="width: 18rem;">
        <img src="https://miro.medium.com/max/776/1*BW0M9E3ukG0AcDcA87L0Vg.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Check Bad Words</h5>
          <button class="btn btn-success" [routerLink]="['/works/cenzor']">Details</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/22/2f/72/222f7235a9e7b8749c691baff4c3c61f.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Create Users List</h5>
          <button class="btn btn-success" [routerLink]="['/works/users-list']">Details</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://miro.medium.com/max/4000/1*8ygFKYb0Yo6Hc-vnScGA9A.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Create Task List</h5>
          <button class="btn btn-success" [routerLink]="['/works/task-list']">Details</button>
        </div>
      </div>
    </div>
  </div>
  